// Bootstrap breakpoints
$break-min-sm: 576px;
$break-min-md: 768px;
$break-min-lg: 992px;
$break-x-min-lg: 1200px;

$break-max-xs: 575px;
$break-max-sm: 767px;
$break-max-md: 991px;
$break-max-lg: 1199px;
