@import "page";
@import "globals";

.book-author {
    text-align: right;
}

.img-container {
    position: relative;
    top: 0;
    left: 0;
    opacity: 1;

    .img-overlay {
        display: none;
        position: absolute;
        top: 40%;
        width: 100%;
        height: 100%;
        text-align: center;

        p {
            opacity: 1;
            color: #0f0;
            font-weight: bold;
            font-size: 1.5em;
        }
    }

    &:hover {
        opacity: 0.5;
        cursor: pointer;
        
        .img-overlay {
            display: block;
        }
    }
}

@media (max-width: $break-max-sm) {
    .sm-centered {
        text-align: center;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}
