@import "page";

$header-size: 16pt;

.summary {
    border-bottom: solid 1px;
}

.summary-data {
    font-weight: bold;
}

.book-author {
    text-align: right;
}

h1 {
    font-size: $header-size;
}

h2 {
    font-size: $header-size;
}

h3 {
    font-size: $header-size;
}
