@import "page";
@import "globals";

$modal-width: 16%;
$modal-height: 8%;

p.book-title {
    font-weight: bold;
}

.modal {
    display: none;
    background: #aaa;
    width: $modal-width;
    height: $modal-height;

    position: fixed;
    left: 50% - $modal-width;
    top: 50% - $modal-height;
    border-radius: 5px;

    &.loading {
        display: block;
        p {
            color: #0f0;
            text-align: center;
            font-weight: bold;
            font-size: 24pt;
        }
    }
}
