@import "page";

body {
    color: #fff;
}

h1 {
    text-align: center;
    border-bottom: 1px solid #fff;
    margin-bottom: 1em;
    padding-bottom: 0.25em;
}

input {
    margin-top: 1em;
    margin-bottom: 1em;
}

.summary-history-item {
    background: #fff;
    color: #000;
    font-size: 1.25em;
    margin: 2px;

    a {
        color: #080;
    }
}

.message {
    font-size: 1.25em;
    padding: 0.5em;
    text-align: center;

    &.error {
        background: #A00;
    }

    &.success {
        background: #0A0;
    }
}

.signuplogin-link {
    text-align: center;

    a {
        color: #aaa;
    }
}
