<html>
    <head>
        <title> {{ title }} </title>
        {{>common}}
        <link rel="stylesheet" type="text/css" href="/styles/book.css">
    </head>
    <body>
        {{>navbar}}
        <div class="panel container">
            <div class="row">
                <div class="col-xs-6">
                    <h1>{{ title }}</h1>
                </div>
                <div class="col-xs-6">
                    <h2 class="book-author">{{ author }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12"><h2>Summaries</h2></div>
            </div>
            {{#summaries}}
            <div class="row">
                <div class="col-xs-12"><p class="summary-data">By <a href="{{ account_history_url }}">{{ username }}</a> on {{ posted_date }}</p></div>
            </div>
            <div class="summary row">
                <div class="col-xs-12">
                    <p>{{{summary}}}</p>
                </div>
            </div>
            {{/summaries}}
        </div>
    </body>
</html>
