<html>
    <body>
        <h1>{{ title }}</h1>
        <table>
            <tr>
                <td>Title</td>
                <td>Author</td>
            </tr>
            {{#books}}
            <tr>
                <td>{{ title }}</td>
                <td>{{ author }}</td>
            </tr>
            {{/books}}
        </table>
    </body>
</html>
