<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Book Summ</a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/books/search">Find Summaries</a></li>
            <li><a href="/books/ext/search">New Summaries</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            {{#navbar.account}}
            <li><a href="/accounts/{{id}}">{{username}}</a></li>
            <li><a href="/logout">Logout</a></li>
            {{/navbar.account}}
            {{^navbar.account}}
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
            {{/navbar.account}}
        </ul>
    </div>
</nav>
