<html>
    <head>
        <title> New Summary - {{ title }} </title>
        {{>common}}
        <link rel="stylesheet" type="text/css" href="/styles/book.css">
    </head>
    <body>
        {{>navbar}}
        <div class="panel container">
            <div class="row">
                <div class="col-xs-6">
                    <h1>{{ title }}</h1>
                </div>
                <div class="col-xs-6">
                    <h2 class="book-author">{{ author }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-lg-6">
                    <form method="POST" action="{{ formActionUrl }}">
                        <div class="form-group">
                            <textarea id="summaryEditor" data-bind="value: summaryArea, valueUpdate: 'keyup'" name="summary" class="form-control" rows="32"></textarea>
                            <button type="submit" class="btn btn-block btn-default">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 hidden-md">
                    <div id="summaryPreview" data-bind="html: rendered">
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/scripts/new_summary.js"></script>
    </body>
</html>
