<html>
    <head>
        <title>Signup - Book Summary</title>
        {{>common}}
        <link type="text/css" rel="stylesheet" href="/styles/user.css">
    </head>

    <body>
        {{>navbar}}

        <div class="container">
            <div class="row">
                <div class="col-xs-12"><h1>Signup</h1></div>
            </div>
            {{#error}}
            <div class="row">
                <div class="message error col-xs-12">
                    <p>{{ . }}</p>
                </div>
            </div>
            {{/error}}
            <div class="row">
                <div class="col-xs-12">
                    <form method="POST" action="/signup">
                        <div class="row">
                            <div class="col-xs-12">
                                <label>Email</label>
                                <input name="email" type="text" class="form-control"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <label>Username</label>
                                <input name="username" type="text" class="form-control"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-lg-6">
                                <label>Password</label>
                                <input name="password" type="password" class="form-control"/>
                            </div>
                            <div class="col-xs-12 col-lg-6">
                                <label>Confirm Password</label>
                                <input name="confirm_password" type="password" class="form-control"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-default btn-block">Create Account</button>
                            </div>
                        </div>
                    </form>
                    <div class="signuplogin-link row">
                        <a href="/login">Already have an account? Click here to login!</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
